@import "tailwindcss";

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@keyframes flash {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.animate-flash {
  animation: flash 300ms ease-out forwards;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
